@{
    Layout = "_AuthLayout";
    ViewData["Title"] = "Login";
}
<h1 class="mb-2">The App</h1>
<div></div>
<h5 class="mb-2 fs-4 opacity-50">Start your journey</h5>
<h2 class="mb-4">Sign In to The App</h2>

<form method="post">
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required>
        <label for="email" class="opacity-50">Email address</label> 
        <i class="fa-solid fa-envelope position-absolute top-50 end-0 translate-middle-y me-3 text-muted opacity-50"></i>
    </div>

    <div class="form-floating mb-3 position-relative">
        <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
        <label for="password" class="opacity-50">Password</label>
        <button type="button" class="btn btn-sm btn-link text-muted position-absolute top-50 end-0 translate-middle-y me-2"
                id="togglePassword" tabindex="-1">
            <i class="fa-solid fa-eye opacity-50 "></i>
        </button>
    </div>

    <div class="form-check mb-3">
        <input type="checkbox" name="rememberMe" class="form-check-input" />
        <label class="form-check-label">Remember me</label>
    </div>

    <button type="submit" class="btn btn-primary w-100">Sign In</button>
</form>


<div class="mt-3 d-flex justify-content-between">
    <span>Don't have an account? <a href="/Account/Register">Sign up</a></span>
    <a href="#">Forgot password?</a>
</div>



